<script>
  import { max } from "d3-array";
  import { scaleLinear } from "d3-scale";

  // Properties to export
  export let buildingType; // 16 types exist
  export let width; // Width of svg box
  export let i; // Number representing the line
  export let data; // Data for one city and one building type
  export let maxHeatingEnergy; // Max value across all building types
  export let scaling;

  // Variables to draw lines/paths
  const centerY = 20 * i + 10;
  const startX = 110;
  const endX = width - 50;
  const numOfDataPoints = Object.keys(data).length;

  // Scales
  let perLineScale;
  let acrossAllLinesScale;
  $: perLineScale = scaleLinear()
    .domain([0, max(data, (d) => d.total_heating_energy)])
    .range([1, 10]);

  $: acrossAllLinesScale = scaleLinear()
    .domain([0, maxHeatingEnergy])
    .range([1, 10]);

  const xScale = scaleLinear()
    .domain([0, numOfDataPoints]) // [0, the num of elements in the data]
    .range([startX, endX]);

  // Create path for the line
  let path = "";
  $: {
    path = ""; // If the path isn't reset the change won't occur
    data.forEach((element, index) => {
      let thickness = 1;
      if (scaling == "across all") {
        thickness = acrossAllLinesScale(element.total_heating_energy);
      } else {
        thickness = perLineScale(element.total_heating_energy);
      }
      if (index == 0) {
        path += `M${xScale(index)} ${centerY - thickness} `;
      } else {
        path += `L${xScale(index)} ${centerY - thickness}`;
      }
    });
    data
      .slice()
      .reverse()
      .forEach((element, index) => {
        let thickness = 1;
        if (scaling == "across all") {
          thickness = acrossAllLinesScale(element.total_heating_energy);
        } else {
          thickness = perLineScale(element.total_heating_energy);
        }
        path += `L${xScale(numOfDataPoints - 1 - index)} ${
          centerY + thickness
        }`;
      });
    path += "Z"; // Close path
  }
</script>

<svg>
  <path d={path} />
  <text y={centerY + 3} style="font-size:10">{buildingType}</text>
</svg>
