<script>
  import { onMount } from "svelte";

  // Properties to export
  export let data = [];
  export let width;
  export let height;
  export let maxSize;

  // Find values the values needed to place circles correct, and get the right size
  const findCx = () => {
    let cx = "";
    if (data[0].city == "Chicago") {
      cx = (3 * width) / 16;
    } else if (data[0].city == "Baltimore") {
      cx = width / 2;
    } else if (data[0].city == "Los Angeles") {
      cx = (13 * width) / 16;
    }
    return cx;
  };

  const findCy = () => {
    return (height * 1.7) / 3;
  };

  let circleRadius = width / 8;
  let cx = findCx();
  let cy = findCy();

  // Find text width for the cities so that when they are shown they can be placed
  // in the center above the circles
  let cityTextWidth = 0;
  onMount(() => {
    cityTextWidth = document
      .getElementById(data[0].city + "CityName")
      .getComputedTextLength();
  });

  // Create points for the heating and cooling polygon
  let heatingPoints = "";
  let coolingPoints = "";
  let r = 0;
  const findPolygonPoints = (type) => {
    data.forEach((elem) => {
      if (type == "heating") {
        r = (elem.heating * circleRadius) / maxSize;
      } else {
        r = (elem.cooling * circleRadius) / maxSize;
      }
      // Minus Math.PI/2 because we start on the top, not where 0 radians usually is
      // Multipply with 2*pi because what we have otherwise is a part of 1, but radians must be part of 2*pi
      // -1 because I want it to go from 0-364, not from 1
      let angle = ((elem.day_of_year - 1) / 365) * 2 * Math.PI - Math.PI / 2;
      let x = r * Math.cos(angle) + cx;
      let y = r * Math.sin(angle) + cy;
      if (type == "heating") {
        heatingPoints += `${x},${y} `;
      } else {
        coolingPoints += `${x},${y} `;
      }
    });
  };
  findPolygonPoints("heating");
  findPolygonPoints("cooling");
</script>

<svg>
  <!--The thing for ID is neccessary to find the length of the text, which is needed to center it-->
  <text
    id={data[0].city == "Chicago"
      ? data[0].city + "CityName"
      : data[0].city == "Baltimore"
      ? data[0].city + "CityName"
      : data[0].city + "CityName"}
    x={cx - cityTextWidth / 2}
    y={cy - circleRadius - 30}
    style="font-size:20px">{data[0].city}</text
  >
  <!--If it's the first circle: add path and text for explainability-->
  {#if data[0].city == "Chicago"}
    <!--defs is for creating the point for the arrow, without it, it's just an arc-->
    <defs id="arrowDefs">
      <marker
        id="arrowEnd"
        fill="black"
        stroke-linejoin="bevel"
        viewBox="0 0 8000 8000"
        refX="280"
        refY="150"
        markerUnits="strokeWidth"
        markerWidth="300"
        markerHeight="300"
        orient="auto"
        ><path
          id="arrowEndPath"
          stroke="rgb(0, 0, 0)"
          stroke-width="5"
          d="M 2 59 L 293 148 L 1 243 L 121 151 Z"
        /></marker
      >
    </defs>
    <!--The arc and text-->
    <path
      d="M {cx + 20},{cy - circleRadius - 10} Q {cx + circleRadius},{cy -
        circleRadius} {cx + circleRadius + 10},{cy - 20}"
      fill="none"
      stroke="black"
      style="z-index:100"
      marker-end="url(#arrowEnd)"
    />
    <text x={cx + 45} y={cy - circleRadius - 5}>Months</text>
  {/if}

  <!--The circle itself-->
  <circle
    {cx}
    {cy}
    r={circleRadius}
    stroke="black"
    fill="white"
    class="customcircle"
  />

  <!--Numbers around the circle-->
  <text x={cx + (circleRadius + 3)} y={cy + 6}>3</text>
  <text x={cx - 3} y={cy - (circleRadius + 3)}>0</text>
  <text x={cx - 3} y={cy + circleRadius + 15}>6</text>
  <text x={cx - circleRadius - 12} y={cy + 6}>9</text>

  <!--Axis inside circle-->
  <line
    x1={cx}
    x2={cx}
    y1={cy - circleRadius}
    y2={cy + circleRadius}
    style="stroke-width:1; stroke:black"
  />
  <line
    x1={cx - circleRadius}
    x2={cx + circleRadius}
    y1={cy}
    y2={cy}
    style="stroke-width:1; stroke:black"
  />

  <!--Polygons-->
  <polygon points={coolingPoints} style="stroke:blue; fill:blue; opacity:0.7" />
  <polygon points={heatingPoints} style="stroke:red; fill:red; opacity:0.7" />
</svg>

<style>
</style>
