<script>
  import { scaleLinear } from "d3-scale";

  // Properties that receive values from parent
  export let data;
  export let height;
  export let width;
  export let maxDataPoints;
  export let maxUsage;

  // Other useful variables
  const week = data[0].week;

  // Variables for the line in the center of the leaf
  // y1: Subtract 75 to get up from the bottom. Do week-48 so that the
  // bottom leaf ends up at exactly 50. Multiply by 75, because we
  // want to go 75 up for each leaf
  const y1 = height - 100 - (week - 48) * 75;
  // y2: want to go 50 up when the leaf is whole (there is 7 days in the week),
  // Otherwise a funtion of this must be used.
  const heightFromCenter = (pointIndex) => (pointIndex / maxDataPoints) * 50;
  const y2 = y1 - heightFromCenter(data.length);
  // x1: is in the center
  const x1 = width / 2;
  // x2: Depends on the number of days (are fewer days in the last week).
  // It also depends on wether the week number is odd or even. Even weeks
  // should be to the right (x2 > x1) while odd weeks should be on the
  // right (x2 < x1).
  const lengthFromCenter = (pointIndex) => (pointIndex / maxDataPoints) * 200;
  const leafLength = lengthFromCenter(data.length);
  const x2 = data[0].week % 2 === 0 ? x1 + leafLength : x1 - leafLength;

  // Create paths for the leaves. Because we want two different colors
  // there must be two different paths.
  let elPath = "";
  let gasPath = "";

  // A scale is needed for the thickness of the leaf
  const leafScale = scaleLinear().domain([0, maxUsage]).range([0, 100]);

  // First the elPath for electricity usage. Should be on top of the leaf.
  // -0.5 in the y direction to avoid covering the line in the center of the leaf
  elPath += `M${x1} ${y1 - 0.5} `;
  data.forEach((element, index) => {
    let thickness = leafScale(element.total_electrity);
    if (data[0].week % 2 === 0) {
      elPath += `L${x1 + lengthFromCenter(index)} ${
        y1 - thickness - heightFromCenter(index) - 0.5
      } `;
    } else {
      elPath += `L${x1 - lengthFromCenter(index)} ${
        y1 - thickness - heightFromCenter(index) - 0.5
      } `;
    }
  });
  elPath += `L${x2} ${y2 - 0.5}`;

  // Then for the gasPath usage. Should be below the leaf.
  // +0.5 in the y-direction to avoid covering the line
  gasPath += `M${x1} ${y1 + 0.5} `;
  data.forEach((element, index) => {
    let thickness = leafScale(element.total_gas);
    if (data[0].week % 2 === 0) {
      gasPath += `L${x1 + lengthFromCenter(index)} ${
        y1 + thickness - heightFromCenter(index) + 0.5
      } `;
    } else {
      gasPath += `L${x1 - lengthFromCenter(index)} ${
        y1 + thickness - heightFromCenter(index) + 0.5
      } `;
    }
  });
  gasPath += `L${x2} ${y2 + 0.5}`;
</script>

<svg>
  <!-- 
    y1: subtract 50 to get up from the bottom. Do week-48 so that the 
        bottom leaf ends up at exactly 50. Multiply by 75, because we
        want to go 75 up for each leaf
   -->
  <line {x1} {x2} {y1} {y2} style="stroke:black" />
  <path d={elPath} fill="#1790FF" />
  <path d={gasPath} fill="#FFBA28" />
</svg>
