<!--MAIN FILE FOR CIRCULAR PLOT-->
<script>
  import { json } from "d3-fetch";
  import { max } from "d3-array";
  import { onMount } from "svelte";
  import CustomCircle from "./_design_2_cusotomcircle.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Variable to send to CustomCircle. maxSize is either
  // the max value in cooling or heating, whichever one is higher
  let maxSize = null;

  // Load data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
    let maxHeating = max(data, (d) => d.heating);
    let maxCooling = max(data, (d) => d.cooling);
    maxSize = Math.max(maxCooling, maxHeating);
  });
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#if !data}
      <text x="230" y="100">Loading data...</text>
    {:else}
      <text x="0" y="7" fill="red" style="font-size:18px">Heating</text>
      <text x="100" y="7" fill="blue" style="font-size:18px">Cooling</text>
      <CustomCircle
        data={data.filter((d) => d.city == "Chicago")}
        {width}
        {height}
        {maxSize}
      />
      <CustomCircle
        data={data.filter((d) => d.city == "Baltimore")}
        {width}
        {height}
        {maxSize}
      />
      <CustomCircle
        data={data.filter((d) => d.city == "Los Angeles")}
        {width}
        {height}
        {maxSize}
      />
    {/if}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
