<!-- MAIN FILE FOR LINE PLOT -->
<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Controls from "./_design_1_controls.svelte";
  import CustomLine from "./_design_1_customline.svelte";
  import { max } from "d3-array";

  // Size and margins
  const width = 800;
  const height = 350;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // For communication between controls and plot. Used to bind choices to.
  let cityParent = "Los Angeles";
  let scalingParent = "per line";

  // load data and find all buildingtypes and the maximum heating energy used
  let data = null;
  let buildingTypes = [];
  let maxHeatingEnergy = 0;
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
    data.forEach((elem) => {
      if (!buildingTypes.includes(elem.buildingtype)) {
        buildingTypes.push(elem.buildingtype);
      }
    });
    maxHeatingEnergy = max(
      data.filter((d) => d.city == cityParent),
      (d) => d.total_heating_energy
    );
  });

  $: maxHeatingEnergy = data
    ? max(
        data.filter((d) => d.city == cityParent),
        (d) => d.total_heating_energy
      )
    : 0;
</script>

{#if data}
  <div>
    <p style="margin:10px">
      A plot showing the hourly heating energy used in different building types
      in a city. The thicker the line, the more energy is used.
    </p>
    <Controls bind:city={cityParent} bind:scaling={scalingParent} />
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each buildingTypes as buildingType, i}
          <CustomLine
            {buildingType}
            {width}
            {height}
            {i}
            data={data.filter(
              (d) => d.city == cityParent && d.buildingtype == buildingType
            )}
            {maxHeatingEnergy}
            scaling={scalingParent}
          />
        {/each}
        <text x={80} y={height - 20} style="font-size:10">December 1st</text>
        <text x={width - 100} y={height - 20} style="font-size:10"
          >December 31st</text
        >
      </g>
    </svg>
  </div>
{:else}
  <text x={width / 2 - 60} y={height / 2}>Loading data...</text>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
