<p>I <span id="really">really</span> like data visualisation!</p>

<style>
  p {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: steelblue;
  }
  #really {
    color: pink;
  }
</style>
