<script>
  const me = {
    name: "Karoline L Langli",
    favorite_things: ["Chocolate", "Traveling", "Being with friends", "Cake"]
  };
</script>

<div class="container">
  <div class="row">
    <p>My name is {me.name} and these are some of my favourite things:</p>
  </div>

  <div class="row" style="margin-left: 10px;">
    <ul>
      <li>{me.favorite_things[0]}</li>
      <li>{me.favorite_things[1]}</li>
      <li>{me.favorite_things[2]}</li>
      <li>{me.favorite_things[3]}</li>
    </ul>
  </div>
</div>
