<script>
  const circumference = (radius) => (2 * Math.PI * radius).toFixed(2);
  const radius = 3;
</script>

<p>
  The circumference of a circle with radius {radius}m is {circumference(
    radius
  )}m.
</p>
