<script>
  import { max, min } from "d3-array";

  // Properties to export
  export let data = [];
  // The slider values will go from 0 to 2014-1800. That is, the slider
  // value corresponds to the index from data that should be shown:
  export let sliderValue = 0;
  export let continent = "all continents";

  // FOR SLIDER
  // Find min and max indexes in the data array
  const minIndex = min(data, (d) => d.year) - 1800;
  const maxIndex = max(data, (d) => d.year) - 1800;

  // FOR ANIMATION (PLAY/PAUSE)
  let play = "Play";
  let counterInterval = null;

  /**
   * To change the text of the play/pause button and to
   * start/stop the animation.
   */
  const click_play = () => {
    play = play == "Play" ? "Pause" : "Play"; // Change text
    if (counterInterval === null) {
      counterInterval = setInterval(incYear, 200);
    } else {
      clearInterval(counterInterval);
      counterInterval = null;
    }
  };

  /**
   * To increment the year being shown during animation.
   * Should loop back to year 1800 and stop when the end
   * is reached.
   */
  const incYear = () => {
    if (sliderValue == maxIndex) {
      sliderValue = 0;
      clearInterval(counterInterval);
      play = "Play";
    } else {
      sliderValue += 1;
    }
  };

  // FOR RESET BUTTON
  /**
   * To reset all values that chan be changed
   * (continent shown, year and play)
   */
  const reset = () => {
    continent = "all continents";
    play = "Play";
    sliderValue = 0;
    if (counterInterval) {
      clearInterval(counterInterval);
      counterInterval = null;
    }
  };

  // FOR PULL DOWN MENU
  const continents = ["europe", "asia", "americas", "africa"];
  let display_pull_down = "none";

  /**
   * Show/hide the pull down menu
   */
  const clickPullDown = () => {
    display_pull_down = display_pull_down == "none" ? "block" : "none";
  };

  /**
   * Change which continent is being shown
   * @param newContinent the continent you want to see, can be
   * europe, asia, americas, africa or "all continents"
   */
  const changeContinent = (newContinent) => {
    continent = newContinent;
  };
</script>

<div class="row justify-content-center">
  <input type="range" min={minIndex} max={maxIndex} bind:value={sliderValue} />
  <p align="center">Year {sliderValue + 1800}</p>
</div>

<div class="container" style="padding-bottom: 20px">
  <div class="row">
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-primary"
        on:click={() => click_play()}>{play}</button
      >
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-primary" on:click={() => reset()}
        >Reset</button
      >
    </div>

    <div class="dropdown col-sm">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenu2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
        on:click={() => clickPullDown()}
      >
        {continent}
      </button>
      <div class="dropdown-menu" style="display:{display_pull_down}">
        <button
          class="dropdown-item"
          type="button"
          on:click={() => changeContinent("all continents")}
          >all continents</button
        >
        <button
          class="dropdown-item"
          type="button"
          on:click={() => changeContinent(continents[0])}
          >{continents[0]}</button
        >
        <button
          class="dropdown-item"
          type="button"
          on:click={() => changeContinent(continents[1])}
          >{continents[1]}</button
        >
        <button
          class="dropdown-item"
          type="button"
          on:click={() => changeContinent(continents[2])}
          >{continents[2]}</button
        >
        <button
          class="dropdown-item"
          type="button"
          on:click={() => changeContinent(continents[3])}
          >{continents[3]}</button
        >
      </div>
    </div>
  </div>
</div>

<style>
  .btn {
    width: 200px;
  }
</style>
