<script>
  let count = 0;
  const increase = () => {
    count += 1;
  };
  const reset = () => {
    count = 0;
  };
</script>

<div class="container">
  <p class=" row d-flex justify-content-center">The counter value is {count}</p>
  <div class="row d-flex justify-content-center">
    <button class="btn btn-primary " on:click={increase}
      >Increase counter</button
    >
    <button class="btn btn-primary" on:click={reset}>Reset counter</button>
  </div>
</div>

<style>
  button {
    margin: 10px;
    width: 200px;
  }
</style>
