<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  // Variables to bind the incoming values from Controls to
  // This allows them to be used here or sent to to other child
  // components
  let sliderValueParent = 0;
  let continentParent = "all continents";

  /**
   * Function used to filter which countries to show
   * based on the continent they are in.
   * @param newContinent is the continent of the county currently being filtered
   * @param continentParent is the continent we want to display, chosen in the drop down
   * @return true or false
   */
  const rightContinent = (newContinent, continentParent) => {
    return (
      newContinent == continentParent || continentParent == "all continents"
    );
  };
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot
      data={data[sliderValueParent]["countries"].filter((d) =>
        rightContinent(d.continent, continentParent)
      )}
    />
    <Controls
      {data}
      bind:sliderValue={sliderValueParent}
      bind:continent={continentParent}
    />
    <!--Bind the slider_value in the control to a slider_value_parent
    that can be used here and also sent to the scatterplot component -->
  </div>
{/if}
