<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rectSize = 40;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect
      width={rectSize}
      height={rectSize}
      x={(innerWidth - rectSize) / 2}
      y={(innerWidth - rectSize) / 2}
    />
    <circle
      cx={(innerWidth + rectSize) / 2}
      cy={(innerWidth + rectSize) / 2}
      r="20"
    />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  rect {
    fill: yellow;
  }
  circle {
    fill: skyblue;
  }
</style>
