<script>
  import { scaleLog } from "d3-scale";
  import { select } from "d3-selection";
  import { axisBottom } from "d3-axis";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog([2, 9], [0, 800]);
  const xAxis = axisBottom().scale(scale);
  let g;

  $: select(g).call(xAxis); // https://github.com/TomFevrier/svelte-d3-demo/blob/master/src/Axis.svelte
</script>

<svg viewBox="0 0 {width + 20} {height}">
  <g transform="translate({margin.left},{margin.top})" bind:this={g}>
    {#each values as num}
      <circle cx={scale(num) + 5} cy="50" r="10" />
    {/each}
  </g>
  <g transform="translate({margin.left + 5},{height - 30})" bind:this={g} />
  <text transform="translate({width / 2},{height})">x-axis</text>
</svg>

<style>
  text {
    fill: currentColor;
  }
</style>
