<script>
  import { extent } from "d3-array";

  import { scaleLinear, scaleOrdinal } from "d3-scale";
  import { schemePastel1 } from "d3-scale-chromatic";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scaleX = scaleLinear([2, 9], [0, innerWidth]);
  const scaleY = scaleLinear([0, 3], [0, innerHeight]);
  const scaleColors = scaleOrdinal(
    extent(values.map((items) => items.category)),
    schemePastel1
  );
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as cat}
      <circle
        cx={scaleX(cat.x)}
        cy={innerHeight - scaleY(cat.y)}
        r="10"
        style="fill: {scaleColors(cat.category)}"
      />
      <text
        class="valueLabel"
        x={scaleX(cat.x)}
        y={innerHeight - scaleY(cat.y) - 10}>{cat.y}</text
      >
      <line
        x1={scaleX(cat.x)}
        x2={scaleX(cat.x)}
        y1={innerHeight}
        y2={innerHeight - scaleY(cat.y)}
        style="stroke: {scaleColors(cat.category)}"
      />
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
